<% provide(:title, 'Edit')%>
<h1>Edit word</h1>
<%= link_to "Home", root_path%>
<%= link_to "Back to List", index_path%>
<div>
    <%= form_for(@word) do |f|%>
        <%= f.label :question %>
        <%= f.text_field :question %>

        <%= f.label :answer %>
        <%= f.text_field :answer %>

        <%= f.label :memorize %>
        <%= f.text_field :memorize %>

        <%= f.submit "Save change" %>
    <% end %>
</div>
