<% provide(:title, 'Add')%>
<div class="header-link">
<%= link_to "Word list", index_path%>
</div>
<h1 class="page-title">Add new word</h1>
<div class="word-form">
    <%= form_for(@word, url: new_path) do |f|%>
        <div class="text-field">
            <%= f.label :question %>
            <%= f.text_field :question %>
        </div>

        <div class="text-field">
            <%= f.label :answer %>
            <%= f.text_field :answer %>
        </div>

        <div class="text-field">
            <%= f.label :memorize %>
            <%= f.text_field :memorize %>
        </div>

        <div class="text-field">
            <%= f.submit "Create new word" %>
        </div>
    <% end %>
</div>
